.dtrader-integrated-container {
    width: 100%;
    height: calc(100vh - 120px);
    min-height: calc(100vh - 120px);
    overflow: hidden;
    background: #0e0e0e;
    position: relative;
}

.dtrader-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
